@import "../../../styles/mixins/global.scss";

.sec-step-all-content-alignment {
  .steper-box-center-alignment {
    display: flex;
    align-items: center;
    justify-content: center;

    .step-box {
      width: 606px;

      @include breakpoint("max-sm") {
        width: 100%;
        padding: 0 55px;
      }

      h5 {
        font-weight: 700;
        font-size: 32px;
        line-height: 39px;
        text-align: center;
        margin: 0 0 10px 0;
        color: #000000;

        @include breakpoint("max-sm") {
          font-weight: 700;
          margin: 0 0 10px 0;
          font-size: 1.45rem;
          line-height: 1.75rem;
        }
      }
      p {
        font-weight: 400;
        font-size: 16px;
        line-height: 25px;
        text-align: center;
        font-family: "VisbyCF-Regular";
        margin: 0 0 39px 0;
        color: #000000;
        @include breakpoint("max-sm") {
          font-weight: 400;
          font-size: 1rem;
          line-height: 16px;
        }
      }

      .button-left-right-alignment {
        padding: 0 100px;

        @include breakpoint("max-sm") {
          padding: 0;
        }
        button:last-child {
          margin: 0;
        }
        button {
          margin: 0 0 10px 0;
          color: #fff;
          border: none;
          cursor: pointer;
          padding: 18px;
          font-weight: 700;
          font-size: 1rem;
          line-height: 17px;
          background: #9dbc78;
          border-radius: 10px;
          width: 100%;

          @include breakpoint("max-sm") {
            padding: 20px;
          }
        }
      }
    }
  }
}
