@import "../../styles/mixins/global.scss";

.steper-all-content-alignment {
  border: 1px solid #dadada;
  padding: 20px 0;
  border-bottom: 1px solid #dadada;


  .steper-container{
    @include breakpoint('max-sm'){
      padding: 0 20px;
    }
  }
  .first-content-alignment {
    display: flex;
    align-items: center;
    gap: 27px;

    @include breakpoint("max-sm") {
      gap: 16px;
    }
    img{
      @include breakpoint("max-sm") {
        width: 3.5rem;
      }
    }
    p {
      font-weight: 800;
      font-size: 16px;
      line-height: 1.5rem;
      color: #000000;

      @include breakpoint("max-sm") {
        font-weight: 700;
        font-size: 0.90rem;
        line-height: 1.25rem;
      }
      span {
        font-weight: 400;
      }
    }
  }
}

.steper-footer {
  padding: 25px 0;
  background: #373737;

  span {
    font-weight: 500;
    font-size: 13px;
    line-height: 20px;
    text-align: center;
    cursor: pointer;
    display: block;
    text-align: center;
    font-family: "VisbyCF-Regular";
    color: #ffffff;

    @include breakpoint("max-sm") {
      font-weight: 400;
      font-size: 10px;
      line-height: 12px;
    }
  }
}

.main-child-content-steper-page-alignment {
  min-height: calc(100vh - 155px);
  overflow: auto;
}
