@import "../../../styles/mixins/global.scss";

.vielenDank-center-alignment {
  display: flex;
  justify-content: center;
  align-items: center;

  .vielenDank-box {
    padding: 0 0 106px 0;
    width: 540px;

    @include breakpoint("max-sm") {
      width: 100%;
      padding: 0 0 60px 0;
    }

    .text-style {
      @include breakpoint("max-sm") {
        padding: 0 30px;
      }
      h5 {
        font-weight: 700;
        font-size: 32px;
        line-height: 39px;
        text-align: center;
        margin: 0 0 10px 0;
        color: #000000;
        @include breakpoint("max-sm") {
          font-weight: 700;
          margin: 0 0 10px 0;
          font-size: 1.5rem;
          line-height: 1.75rem;
        }
      }

      .button-center-alignment {
        display: flex;
        padding: 39px 0 0 0;
        align-items: center;
        justify-content: center;

        button {
          border: none;
          color: #fff;
          padding: 18px 27px;
          background: #9dbc78;
          display: flex;
          align-items: center;
          gap: 10px;
          font-weight: 700;
          font-size: 14px;
          line-height: 17px;
          text-align: center;
          border-radius: 10px;

          @include breakpoint("max-sm") {
            padding: 18px 27px;
            font-weight: 700;
            font-size: 0.8rem;
            line-height: 1rem;
            text-align: center;
          }

          cursor: pointer;
          span {
            display: block;
          }
        }
      }

      p {
        font-weight: 400;
        font-size: 12px;
        line-height: 20px;
        text-align: center;
        font-family: "VisbyCF-Regular";
        color: #5d5d5d;
        @include breakpoint("max-sm") {
          font-weight: 400;
          font-size: 1rem;
          line-height: 1.25rem;
        }
      }
    }
  }
}

.tody-update-section-new {
  border-bottom: 1px solid #dadada;
  margin: 0 0 100px 0;

  @include breakpoint("max-sm") {
    margin: 0;
    border: none;
  }

  .new-image-style {
    img {
      position: relative;
      bottom: -4px;
    }
  }

  .main-grid {
    display: grid;
    grid-template-columns: 305px 1fr;
    gap: 20px;
    align-items: center;

    @include breakpoint("max-sm") {
      grid-template-columns: repeat(1, 1fr);
      gap: 0;
    }
    .main-grid-items:nth-child(1) {
      @include breakpoint("max-sm") {
        order: 2;
      }
    }
    .main-grid-items {
      .grid {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 10px;

        @include breakpoint("max-sm") {
          grid-template-columns: repeat(2, 1fr);
          gap: 20px;
        }

        .grid-items:nth-child(1) {
          p {
            max-width: 193px;
            margin: 0 auto;
          }
        }

        .center-c {
          display: flex;
          justify-content: center;
        }

        .grid-items {
          .icon-alignment-for-web {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 0 0 14px 0;
          }

          h2 {
            font-weight: 700;
            font-size: 18px;
            line-height: 22px;
            min-height: 44px;
            margin: 0 0 18px 0;
            text-align: center;
            font-family: "Montserrat", sans-serif;
            color: #000000;

            @include breakpoint("max-sm") {
              font-weight: 700;
              font-size: 12px;
              line-height: 15px;
              min-height: 30px;
              margin: 0 0 6px 0;
            }
          }

          p {
            font-weight: 400;
            font-size: 16px;
            line-height: 20px;
            text-align: center;
            font-family: "Montserrat", sans-serif;

            color: #2e2e2e;

            @include breakpoint("max-sm") {
              font-weight: 400;
              font-size: 10px;
              line-height: 12px;
              max-width: 122px;
              margin: 0 auto;
              text-align: center;
            }
          }
        }
      }
    }
  }
}
