@import '../../../styles/mixins/global.scss';

.header-design {
    background: #FFFFFF;
    padding: 24px 0;

    @include breakpoint("max-md") {
        padding: 18px 0;
    }

    @include breakpoint("max-sm") {
        padding: 24px 0;
    }

    .header-alignment {
        display: flex;
        align-items: center;
        justify-content: space-between;


        .button {
            button {
                font-weight: 700;
                font-size: 20px;
                line-height: 22px;
                background: #9DBC78;
                padding: 14px 30px;
                border: none;
                cursor: pointer;
                color: #fff;

                @include breakpoint("max-md") {
                    padding: 16px 20px;
                    font-weight: 700;
                    font-size: 16px;
                    line-height: 22px;
                }

                @include breakpoint("max-sm") {
                    padding: 9px 19px;
                    font-size: 12px;
                    line-height: 22px;
                }
            }
        }

        .logo {
            display: flex;
            align-items: center;
            cursor: pointer;

            img{
                width: 4rem;
                @include breakpoint("max-sm") {
                  width: 3.5rem;
                }
              }

            p {
                font-weight: 800;
                font-size: 16px;
                line-height: 30px;
                padding-left: 38px;
                font-family: 'Montserrat', sans-serif;

                @include breakpoint("max-md") {
                    font-size: 14px;
                    line-height: 30px;
                }

                @include breakpoint("max-sm") {
                    display: none;
                }

                span {
                    font-weight: 400;
                }
            }
        }
    }
}

.mobile-header {
    display: none;

    @include breakpoint("max-sm") {
        display: block;
        padding: 20px 0 0 0;
    }

    p {
        font-weight: 800;
        font-size: 16px;
        line-height: 30px;
        padding-left: 38px;
        font-family: 'Montserrat', sans-serif;

        @include breakpoint("max-md") {
            font-size: 14px;
            line-height: 30px;
            text-align: center;
        }

        @include breakpoint("max-sm") {
            padding: 0;
        }


        span {
            font-weight: 800;
        }
    }
}