@import "../../../styles/mixins/global.scss";

.steper-line-all-contnet-alignment {
  .steper-alignmetn-page {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    margin: 40px 0 63px 0;

    @include breakpoint("max-xl") {
      margin: 30px 0;
    }

    @include breakpoint("max-sm") {
     margin: 24px 30px 63px 30px; 
    }

    &::before {
        width: calc(100% - 7%);
        left: 3%;
        top: 5px;
        content: "";
        background-color: #DADADA;
        position: absolute;
        height: 1px;
    
      @include breakpoint("max-sm") {
        width: calc(100% - 13%);
        left: 6%;
      }
      }

    .steper-icon-text-design {
      width: fit-content;

      p {
        font-weight: 700;
        font-size: 13px;
        color: #595959;
        font-family: "VisbyCF-Regular";

        line-height: 16px;

        @include breakpoint("max-sm") {
          font-size: 0.80rem;
          line-height: 19px;
        }
      }

      .icon-center-alignment {
        display: flex;
        align-items: center;
        padding: 0 0 10px 0;
        justify-content: center;

        .icon-design {
          width: 1.5rem;
          height: 1.5rem;
          border-radius: 50%;
          border: 1px solid #D9D9D9;
          display: flex;
          position: relative;
          z-index: 99;
          background-color: 
          #D9D9D9;
          align-items: center;
          justify-content: center;
          transform: translateY(-7px);

          .icon-design-active {
            background-color: #9dbc78;
            width: 0.6rem;
            height:0.6rem;
            border-radius: 50%;

            &.now{
              animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
            }
          }
        }
      }
    }
  }
}

@keyframes pulse {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: .5;
  }
  }